.App {
  text-align: center;
  font-weight: 500;
  justify-content: center;
  display: flex;
  align-items: center;
}

.game-wrapper {
  background-color: rgb(95, 238, 138);
  border: 5px solid black;
  border-radius: 1%;
}
